nz-page-header {
    background-color: #3c6ec6;
}

img {
    max-width: 300px;
    height: auto;
}

.ecriture-rouge{
    color: #f21031;
}

.ecriture-beige{
    color:#ffe1bf;
}

.background-color-red{
    background-color: #f21031;
    padding-bottom: 30px;
}

.icon-size{
    font-size: 40px;
}