<nz-page-header class="site-page-header" >
    <nz-page-header-content>
        <nz-row nzJustify="space-between">
            <img src="../../assets/claim-credit-mutuelle.svg" alt="credit mutuel">
            <img src="../../assets/logo_argeles_rond_bleu.png" alt="logo_argeles_rond_bleu">
        </nz-row>
        <nz-row nzJustify="center">
            <img src="../../assets/Fichier-1-1.png" alt="logo deferlantes">
        </nz-row>
        <nz-row nzJustify="center">
            <h1 class="ecriture-beige">ACCUEIL </h1>
            <h1> | </h1>
            <h1 class="ecriture-rouge"> BILLETTERIE </h1>
            <h1> | </h1>
            <h1 class="ecriture-beige"> PROD </h1>
            <h1> | </h1>
            <h1 class="ecriture-beige"> PARTENAIRES</h1>
        </nz-row>
    </nz-page-header-content>
</nz-page-header>

<nz-page-header class="background-color-red" >
    <nz-page-header-content>
        <nz-row nzJustify="space-around" class="icon-size">
            <i nz-icon nzType="mail" nzTheme="outline"></i>
            <i nz-icon nzType="facebook" nzTheme="outline"></i>
            <i nz-icon nzType="twitter" nzTheme="outline"></i>
            <i nz-icon nzType="instagram" nzTheme="outline"></i>
            <i nz-icon nzType="youtube" nzTheme="outline"></i>
            <i nz-icon nzType="audio" nzTheme="outline"></i>
        </nz-row>
    </nz-page-header-content>
</nz-page-header>